.login-container {
  display: flex;
  flex-flow: row wrap;
}

.info-right {
  flex: 1 1 200px;
}

.info-left {
  flex: 1 1 400px;
}


.register-form {
  max-width: min-content;
}

.logo-img {
  border-radius: 50%;
  margin: 2em;
  display: block;
  max-width: 300px;
}
