#admin-nav {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	background-color: slategray;
	border-radius: 10px 0 0 10px;
}

#admin-nav .items {
	display: flex;
	flex-flow: column;
}

#admin-nav .mu {
	font-size: 1.2em;
}

#admin-nav .items a {
	position: relative;
	background: transparent;
	color: whitesmoke;
	padding: 4px;
	border: none;
}

#admin-nav a:hover .tooltip {
	opacity: 100%;
}

#admin-nav .tooltip {
	transition: opacity 0.1s linear;
	position: absolute;
	left: 0;
	transform: translateX(calc(-100% - 1em));
	background: rgba(0, 0, 0, 50%);
	padding: 4px;
	border-radius: 5px;
	opacity: 0%;
	pointer-events: none;
}
