button, .btn {
	transition: 0.2s ease-in-out;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	color: hsl(0deg 0% calc((var(--l) - var(--threshold)) * -100));
	background-color: hsl(var(--h), var(--s), var(--l));
	border: 2px solid hsl(calc(var(--h) + var(--rotation)) var(--s) var(--l));
}

button:hover, .btn:hover {
	background: hsl(var(--h) var(--s) calc(var(--l) + var(--dim)));
}

button:focus {
	outline-color: hsl(var(--h) calc(var(--s) - 50%) var(--l) / 50%);;
}

