.body{
    text-align: center;
	background-color: black;
	border-color: 50px;
}


.contenedor {
	box-sizing: border-box;
	max-width: 95vmin;
	margin: auto;
}

.inpt:hover, .inpt:hover {
	outline-color: skyblue;
}