select:id option  {
    right:-140px;
    top:0px;
}


.margin-auto {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 10px;
    width: 1300px;
    font-size: 300%;
    
  }
  .margin-auto__content{
    background-color:rgba(255, 142, 60, 0.77)  ;
  }