.banner {
	position: relative;
	height: 400px;
	background-image: url(/public/sunset.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	backdrop-filter: blur(5px);
}

.banner img {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translateY(-50%);
	font-size: 2.6em;
}

