.login-container {
  margin-top: auto;  
  display: flex;
  gap: 2em;
  flex-flow: row wrap;
  margin-top: 50px;
}
h1{
  text-align: center;
  margin-top: 100px;
  font-family: Staatliches;
}
.login-card {
  max-width: min-content;
  height: min-content;
  flex: 1 1 auto;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #8cc9ff, #ffb14c);
  border-radius: 2rem;
  border-style: none;
}

.login-info {
  flex: 1 1 300px;
}
.body-style{
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
