.navigation, .navigation .items {
	display: flex;
	flex-flow: row nowrap;
	justify-items: center;
	gap: 10px;
}

.navigation .items * {
	margin: 0;
}

.navigation .title {
	text-decoration: none;
	color: inherit;
}

.navigation button, .navigation a[role=button], .navigation input[type=button], .navigation input[type=submit], .navigation input[type=reset], .navigation input[type=color], .navigation input[type=image] {
	--button-border: none;
	--button-background: transparent;
	--button-background-emphasis: rgba(0, 0, 0, 10%);
	font-weight: 300;
	margin: 0;
	padding: 8px 12px;
	outline: none;
	cursor: pointer;
}


