@import url("/public/css/navbar.css");
@import url("/public/css/theme.css");
@import url("/public/css/button.css");

:root {
	--background: whitesmoke;
	--foreground: #16161d;
	--rotation: 30deg;
	--dim: -10%;
	--border-radius: 4px;
	--threshold: 35%;

	/* --publication-1 #FFC4AA; */
	/* --secondary-2: #D0F1BD; */

 	/** Default properties */
	--default-font: 'Roboto', sans-serif;
}

html {
	background: var(--background);
	font-family: var(--default-font);
	color: var(--foreground);
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	margin: 0;
	display: block;
}

img {
	display: block;
	max-width: 100%;
	min-width: 200px;
}

.container {
	box-sizing: border-box;
	max-width: 100vmin;
	margin: auto;
}

button, input, textarea {
	box-sizing: border-box;
	font-family: inherit;
	font-size: 1em;
	padding: 6px 12px;
	outline: 0px solid transparent;
	border: 1px solid lightgray;
	border-radius: var(--border-radius);
}

