@import url(/public/css/components/button.css);
@import url(/public/css/components/input.css);
@import url(/public/css/components/navigation.css);
@import url(/public/css/components/microns.css);

/**
 * Define variables
 * */
:root {
	--foreground-color: #16161D;
	--background-color: #FFFFFF;
	--primary-color: #FDEFA4;
	--secondary-color: #FFC4AA;
	--accent-color: #AEC4FB;
	--font-family: sans-serif;
	--shadow-color: #69696944;
	--border-color: #A9A9A9;
	/** Button properties */
	--button-background: #F5F5F5;
	--button-background-emphasis: #D8D8D8;
	--button-border: var(--border-color);
	--button-border-emphasis: #CFCFCF;
	--button-outline-color: #EFEFEF;
	/** Input style */
	--input-border: var(--border-color);
	--input-border-emphasis: #5A5A5A;
	--input-outline-color: #F7976E;
	--input-color: var(--foreground-color);
	--input-color-placeholder: #94989E;
}

/**
 * Set the page body apperance and global
 * styling for default elements
 * */
*, ::after, ::before {
	box-sizing: border-box;
}

:root, body {
	margin: 0;
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 300;
	display: block;
	background-color: var(--background-color);
	color: var(--foreground-color);
	scrollbar-color: var(--background-color) var(--foreground-color);
}

pre, code {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	padding: 5px;
	border: 1px solid lightgray;
}

/** 
 * Remove the margin in elements
 * */
h1, h2, h3, h4, h4, h6, p, dd, dl, figure, blockquote, ol, ul {
	margin: 0;
}

/**
 * Images styles
 * */
img, input[type=image] {
	max-width: 100%;
	border: none;
	background-color: transparent;
}
