@import url("/public/css/navbar.css");
@import url("/public/css/theme.css");
@import url("/public/css/button.css");

:root {
	--background: whitesmoke;
	--foreground: #16161d;
	--threshold: 60;

	/** Colors */
	--primary-color: #FCEEA3;
	--secondary-color: #AEC4FB;
	--shadow-color: #0F0F0F50;
	/* --publication-1 #FFC4AA; */
	/* --secondary-2: #D0F1BD; */

 	/** Default properties */
	--default-shadow: 0 0 8px var(--shadow-color);
	--default-font: 'Roboto', sans-serif;
}

html {
	background: var(--background);
	font-family: var(--default-font);
	color: var(--foreground);
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	margin: 0;
	display: block;
}

img {
	display: block;
	max-width: 100%;
	min-width: 200px;
}

.container {
	box-sizing: border-box;
	max-width: 100vmin;
	margin: auto;
}

button, input, textarea {
	font-family: inherit;
	font-size: 1em;
}
