#main-navigation .title {
	display: none;
}

#main-navigation .items {
	transition: transform 0.2s linear;
	max-width: 100vw;
	width: 250px; 
	flex-flow: column nowrap;
	background-color: whitesmoke;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	box-shadow: 0 0 10px var(--shadow-color);
	height: 100vh;
}

#main-navigation .mobile-items {
	display: flex;
}

#main-navigation .active {
	transform: translateX(0);
}
 
