#nav-container {
	z-index: 2;
}

#nav-container > .toggle {
	display: block;
	border: 0;
	background: 0;
}

#nav-container > #main-nav {
	gap: 6px;
	background-color: inherit;
	position: fixed;
	width: 300px;
	height: 100%;
	box-shadow: 0 0 10px #00000055;
	left: -300px;
	top: 0;
	flex-flow: column;
	overflow: visible;
	box-sizing: border-box;
	transition: 0.5s left ease-in-out;
	align-items: stretch;
}

#nav-container > #main-nav > .logo {
	margin: 5px;
	margin-bottom: 10px;
}

#nav-container > #main-nav > .center {
	margin: 0;
}

#nav-container > #main-nav > .items {
	flex-flow: column;
	align-items: stretch;
}

#nav-container:focus-within > #main-nav {
	left: 0;
}
