body {
	background-image: url(/psw.jpg);
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

.title {
	text-align: center;
	color: black;
}

.pollito {
	display: block;
	margin: 0px auto;
}

.ch__login {
	border-radius: 1.25em;
	background: #FEB062;
	color: #000;
	display: grid;
	gap: 0.875em;
	padding: 1.25em 1.625em;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 80%;
}
.btn_ch {
	background-color: #FF971D;
	color: #fff;
	padding: 0.25em 1.5em;
	align-items: center;
  }
  
  .btn_ch:focus,
  .btn_ch:hover {
	background-color: #EC823A;
  }
